aiohttp==3.7.4.post0
ansible==2.9.6
apache-libcloud==2.8.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==3.0.5
argon2-cffi==20.1.0
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.3.0
Automat==0.8.0
awscli==1.18.69
Babel==2.9.1
backcall==0.2.0
bleach==3.3.0
blinker==1.4
bokeh==2.4.2
botocore==1.16.19
bottle==0.12.15
Brlapi==0.7.0
CacheControl==0.12.11
cachy==0.3.0
certifi==2019.11.28
cffi==1.14.6
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
click-default-group==1.2.2
clikit==0.6.2
cloudpickle==1.6.0
colorama==0.4.3
colorcet==3.0.0
command-not-found==0.3
conda-lock==1.4.0
configobj==5.0.6
constantly==15.1.0
crashtest==0.4.1
cryptography==2.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
debugpy==1.3.0
decorator==5.0.9
defer==1.0.6
defusedxml==0.7.1
devscripts===2.20.2ubuntu2
distlib==0.3.6
distro==1.4.0
distro-info==0.23+ubuntu1.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
doit==0.33.1
ensureconda==1.4.3
entrypoints==0.3
fail2ban==0.11.1
filelock==3.12.0
fire==0.5.0
fonttools==4.33.3
gbp==0.9.19
ghp-import2==1.0.1
gitdb==4.0.7
GitPython==3.1.18
gpg==1.13.1
holoviews==1.14.6
html5lib==1.1
httplib2==0.14.0
husl==4.0.3
hvplot==0.7.3
hyperlink==19.0.0
idna==2.8
import-ipynb==0.1.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
incremental==16.10.1
iotop==0.6
ipykernel==6.0.1
ipython==7.25.0
ipython-genutils==0.2.0
jaraco.classes==3.2.3
jedi==0.18.0
jeepney==0.8.0
jill==0.11.3
Jinja2==2.10.1
jmespath==0.9.4
jq==1.4.1
jsonschema==4.17.3
jupyter-client==6.1.12
jupyter-core==4.7.1
keyring==23.13.1
kiwisolver==1.4.2
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
lxml==4.6.3
Magnus==1.0.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.0
mate-hud==19.10.0
mate-menu==20.4.1
mate-tweak==20.4.0
matplotlib==3.5.2
matplotlib-inline==0.1.2
micawber==0.5.4
mistune==0.8.4
more-itertools==9.1.0
msgpack==1.0.5
multidict==5.1.0
natsort==7.1.1
nbconvert==5.6.1
nbformat==5.1.3
netaddr==0.7.19
netifaces==0.10.4
Nikola==8.1.1
notebook==6.4.0
ntlm-auth==1.1.0
numpy==1.22.3
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
packaging==21.3
PAM==0.4.2
pandas==1.3.4
pandocfilters==1.4.3
panel==0.12.5
param==1.12.0
parso==0.8.2
pastel==0.2.1
pexpect==4.6.0
phpserialize==1.3
pickleshare==0.7.5
piexif==1.1.3
Pillow==9.1.0
pkginfo==1.9.6
pkgutil-resolve-name==1.3.10
platformdirs==3.5.1
prometheus-client==0.11.0
prompt-toolkit==3.0.19
psutil==5.5.1
ptyprocess==0.7.0
pulsemixer==1.5.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pyct==0.4.8
pycups==1.9.73
pydantic==1.10.7
pygal==2.4.0
Pygments==2.9.0
PyGObject==3.36.0
PyHamcrest==1.9.0
pyinotify==0.9.6
PyJWT==1.7.1
pykerberos==1.1.14
pylev==1.4.0
pymdown-extensions==5.0
pyOpenSSL==19.0.0
pyparsing==3.0.9
pyphen==0.11.0
pyrsistent==0.18.0
PyRSS2Gen==1.1
pyserial==3.4
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
python-gnupg==0.5.0
python-magic==0.4.16
python-xapp==1.8.1
python-xlib==0.23
pytz==2021.1
pyviz-comms==2.1.0
pywinrm==0.3.0
pyxdg==0.26
PyYAML==6.0
pyzabbix==0.8.2
pyzmq==22.1.0
reportlab==3.5.34
requests==2.28.2
requests-futures==1.0.0
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-unixsocket==0.2.0
roman==2.0.0
rsa==4.0
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
s3transfer==0.3.3
scipy==1.8.0
seaborn==0.11.2
SecretStorage==3.3.3
selinux==3.0
semantic-version==2.10.0
Send2Trash==1.7.1
service-identity==18.1.0
setproctitle==1.1.10
simplejson==3.16.0
six==1.16.0
smartypants==2.0.1
smmap==4.0.0
sos==4.7.2
ssh-import-id==5.10
systemd-python==234
termcolor==2.2.0
terminado==0.10.1
testpath==0.5.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
toolz==0.12.0
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
Twisted==18.9.0
typing-extensions==3.10.0.0
typogrify==2.0.7
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
Unidecode==1.2.0
unidiff==0.5.5
urllib3==1.25.8
virtualenv==20.23.0
wadllib==1.3.3
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
wget==3.2
xarray==0.20.1
xkit==0.0.0
xmltodict==0.13.0
Yapsy==1.11.223
yarl==1.6.3
yq==3.2.1
zipp==3.15.0
zope.interface==4.7.1
